@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-bg font-sans text-ink;
  }

  h1,
  h2,
  h3 {
    @apply font-serif tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
